body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px
}

h1,h2,h3 {
  line-height:1.2
}

.middled {
  margin: auto;
  width: 50%;
}

.apple-pay-div {
  display: none; /* none */
}

#apple-pay-button {
  opacity: 0.3;
  display: none; /* none */
  background-color: black;
  background-image: -webkit-named-image(apple-pay-logo-white);
  background-size: 100% 100%;
  background-origin: content-box;
  background-repeat: no-repeat;
  width: 204px;
  height: 44px;
  padding: 10px 0;
  border-radius: 10px;
}

.stripe-btn {
  background-color:#599bb3;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding: 4px 68px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}

.stripe-btn:hover {
  background-color:#408c99;
}

.stripe-btn:active {
  position:relative;
  top:1px;
}

#monies {
  width: 210px;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#monies:focus {
  border: 3px solid #555;
}

#status-div {
  opacity: 0;
  transition: opacity 0.6s;
  padding: 5px;
  color: white;
}

#status-x-btn {
  margin-left: 20px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#status-x-btn:hover {
  color: black;
}
